[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn

[ grep11server ]
subjectAltName = DNS.1:gateway-mock.control12.dap.local
extendedKeyUsage = serverAuth

[ dn ]
C = US
O = HPS
CN = gateway-mock.control12.dap.local
