# Container Configuration
FRONTEND_PLUGIN_IMAGE="registry.control12.dap.local/oso/dapcs-fireblocks-oso-plugins@sha256:"
FIREBLOCKS_AGENT_IMAGE="registry.control12.dap.local/oso/fireblocks-agent@sha256:"

# Fireblocks
REFRESH_TOKEN=""
