# Container Configuration
FRONTEND_PLUGIN_IMAGE="registry.control12.dap.local/oso/oso-ripple-plugins@sha256:"

# Update volume name if it is different from default value frontend_vol
# VOLUME_NAME = ""

# Frontend Workload Volume Configuration
WORKLOAD_VOL_SEED="ripple_frontend_seed1"
WORKLOAD_VOLUME_PREV_SEED=""

# Ripple
HMZ_AUTH_HOSTNAME=""
HMZ_API_HOSTNAME=""
VAULT_ID=""
SK=""
